<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Community</title>
  <base href="/">
  <link rel="stylesheet" href="/assets/boot/css/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/assets/css/dopstyle.css">
  <link href="/assets/boot/css/bootstrap.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/assets/boot/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/userPageStyle.css">

  <link rel="stylesheet" href="/assets/boot/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/adminstyle.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-root></app-root>
</body>
</html>
