<audio id="audio" #idaudio preload="auto" tabindex="0" controls="" (ended)="next()" src="{{url+audioSrc.musicFile}}">

</audio>

<h2>Music list:</h2>
<label style="margin-left: 15px;margin-right: 10px">Пошук бамжей:</label><input type="text" (input)="filter(filt.value)" #filt>
<div *ngFor="let one of musics;let i=index"  [ngClass]="{'active':i==musics.indexOf(audioSrc)}">
  <button (click)="addMyMusic(one.id)" >+</button>
  <span (click)="onClick(one)">
  {{one.perfomerName}}
  -
  {{one.trackName}}
  </span>
  <br>

  ---------------------------------------

  </div>
<br>
<form #some>
  <input type="file" name="file">
</form>

<input type="text" placeholder="performer name" [(ngModel)]="audio.perfomerName" [ngModelOptions]="{standalone:true}">
<input type="text" placeholder="track name" [(ngModel)]="audio.trackName" [ngModelOptions]="{standalone:true}">

<button (click)="addMusic(some)">add</button>
