<!--<div class="container">-->

  <!--<marquee>{{music}}</marquee>-->
  <!--<audio (ended)="next()" src="{{music}}" (input)="log($event)" #idAudioPlayer controls></audio>-->
  <!--<button (click)="play()">play</button>-->
  <!--<button (click)="next()">next</button>-->
  <!--<button (click)="pause()">pause</button>-->
  <!--<button (click)="stop()">stop</button>-->
  <!--<input type="range" #idSoundLine value="0" (input)="goToCurrentTime()" (mousedown)="goToCurrentTimeDown()"-->
         <!--(mouseup)="goToCurrentTimeUp()" max="{{endTime}}">-->
  <!--<input type="range" #idVolume  step="0.01" max="1" (input)="volume()">-->

<!--</div>-->
<!--<div class="container">-->
  <!--<app-music *ngFor="let one of musics" [music]="one" (next)="onNextList($event)" (play)="onPlay($event)"></app-music>-->
<!--</div>-->


