<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
      <div id="sidebar" class="well sidebar-nav">
        <h5><i class="glyphicon glyphicon-home"></i>
          <small><b>ADMIN</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Add</a></li>
        </ul>
        <h5><i class="glyphicon glyphicon-user"></i>
          <small><b>USER</b></small>
        </h5>
        <ul class="nav nav-pills nav-stacked">
          <li><a class="glyphicon glyphicon-list" href="#"> User List</a></li>
          <li><a class="glyphicon glyphicon-stats" href="#"> Statistic</a></li>
        </ul>

      </div>
    </div>
    <div class="col-md-8">

      <div class="col-md-8" id="users">
        <div id="sidebars" class="well sidebar-nav" *ngFor="let user of users">
          <h5><i class="glyphicon glyphicon-user"></i>
            <small><b>User List</b></small>
          </h5>
          <!--<c:forEach items="${users}" var="user">-->

          <h5 class="userList">
            <label>ID : </label> {{ wrapperHTML(user.id) }} <br>
            <label>Имя : </label> {{ wrapperHTML(user.name) }} <br>
            <label>Фамилия : </label> {{ wrapperHTML(user.lastName) }} <br>
            <label>Возраст : </label> {{ wrapperHTML(user.age) }} <br>
            <label>Почта : </label> {{ wrapperHTML(user.email) }} <br>
            <label>Пароль : </label> {{ wrapperHTML(user.password) }} <br>
          </h5>

          <input type="submit" value="delete user" (click)="delete(user)">

          <div>
            <input type="submit" value="update name" (click)="updateName(user)">
            <input type="text" placeholder="{{user.name}}" [(ngModel)]="user.name">
          </div>
          <div>

            <input type="submit" value="update lastn" (click)="updateLastName(user)">
            <input type="text" placeholder="{{user.lastName}}" [(ngModel)]="user.lastName">
          </div>
          <div>

            <input type="submit" value="update   age" (click)="updateAge(user)">
            <input type="text" placeholder="{{user.age}}" [(ngModel)]="user.age">
          </div>
          <br>
          <!--</c:forEach>-->
        </div>
      </div>

    </div>
  </div>
</div>
