<div class="container border-container">
  <div class="row">

    <div class=" col-lg-12 head-block">
      <h1></h1>
    </div>
    <div class=" col-lg-7 left-sidebar">
      <div class="col-lg-12  hello">
        <h3>Вітаємо </h3>
        <a>Community - це універсальний засіб для комунікації і пошуку людей,які оточують вас.</a>
        <h3>Реєстрація</h3>

        <div class="reggg" >
          <form [formGroup]="formGroup">
            <label>Введіть ваш e-mail:<br>
              <input id="userEmail" name="email" class="email" [(ngModel)]="user.email"
                     [ngModelOptions]="{standalone: true}" path="email" required="required"
                     type="email" (input)="validateMail()"/>
            </label>
            <span
              *ngIf="!validMail">wrong mail
            </span>

            <br>
            <label>Введіть ваше імя:<br>
              <input id="userName" class="name" path="name" [(ngModel)]="user.name"
                     [ngModelOptions]="{standalone: true}" required="required" type="text"/>
            </label>
            <br>
            <label>Введіть ваше прізвище:<br>
              <input id="userLastName" class="lastName" path="lastName" [(ngModel)]="user.lastName"
                     [ngModelOptions]="{standalone: true}" required="required"
                     type="text"/>
            </label>
            <br>
            <label>Введіть пароль:<br>
              <input class="pass" id="pas1" path="password" [(ngModel)]="user.password"
                     [ngModelOptions]="{standalone: true}" type="password"
                     required="required"/>
            </label>
            <br>
            <label>Повторіть пароль:<br>
              <input class="pass2" id="pas2" type="password" formControlName="rePass">
            </label>
          </form>
          <br>
          <button class="zReg" id="regBtn" type="submit" (click)="registration()">Зареєструватись</button>


        </div>

        <h3>В чому допоможе "Community"?</h3><br>
        <a> • Знайти людей з якими ви колись вчились/працювали.</a><br>
        <a> • Дізнатись більше про людей,що вас оточують.</a><br>
        <a> • Завжди залишатись на звязку з тими хто вам дорогий.</a>
      </div>
    </div>

    <div class="col-md-6 col-sm-4 col-lg-4 right-sidebar">
      <h2>Вхід</h2>

      <label class="e-mailLog">Ваш e-mail :<br>

        <input id="mail" class="inEMAIL" path="email" name="email" #idLoginEmail type="email" required><br>

      </label>
      <label class="passLog">Ваш пароль :<br>

        <input id="pass" class="inPASS" path="password" name="password" #idLoginPassword type=password required><br>

      </label>
      <br>

      <button id="go" class="in" type="submit" (click)="auth(idLoginEmail,idLoginPassword)">
        Вхід
      </button>
      <p class="oops"><a href="">Забули пароль?</a></p>
    </div>
    <div class=" col-lg-7 footer">
      <a href="#">Про сайт</a>
      <a href="#">Допомога</a>
      <a href="#">Правила</a>
      <a href="#">Реклама</a>
      <a href="#">Розробнику</a>
    </div>
    <a class="col-md-3 col-sm-3 col-lg-3 about">Community © 2017-2017</a>
  </div>


</div>
